@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
}

.titre {
	background-color: rgb(116, 163, 165);
}

div{
	margin-bottom: 50px;
}

footer{ 
    background: #000; 
    color: white; 
    text-align: center; 
    padding: 7px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    height: 60px;
}
